{% extends "admin/change_list.html" %}
{% block object-tools-items %}

    {{ block.super }}

    <a href="#myModal" role="button" class="btn btn-primary" data-toggle="modal"><i class="icon-upload icon-white"></i>
        Importar</a></a>

    <!-- Modal -->
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <form method="post" enctype="multipart/form-data" action="{% url 'import_file' %}">{% csrf_token %}
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">Importar arquivo</h3>
            </div>
            <div class="modal-body">
                <h4>Como importar um arquivo</h4>
                <div class="passo-passo">
                    <p><strong>Passo 1: </strong> Certifique-se que seu arquivo esteja com cada contato em uma linha e na seguinte ordem: Nome; Telefone; Telefone;....<br> Ex.: Antonio;8699999999;8699999999</p>
                    <p><strong>Passo 2: </strong> Clique no botão "Selecionar arquivo"</p>
                    <p><strong>Passo 3: </strong> Escolha o arquivo a ser importado</p>
                    <p><strong>Passo 4: </strong> Para finalizar clique no botão "Importar"</p>
                </div>
                <br>
                <h4>Escolha o arquivo a ser importado</h4>
                <input type="file" name="file">
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
                <button class="btn btn-primary">Importar</button>
            </div>
        </form>
    </div>

{% endblock %}